<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Problème: {{ status_text }}</title>
    </head>
    <body>
        <h1>Oups ! Problème</h1>
        <h2> "{{ status_code }} "</h2>

        <div>
            "{{ status_text }}"
        </div>
    </body>
</html>
