<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Erreur 404</title>
    </head>
    <body>
        <h1>Oups ! Erreur d'ouverture</h1>
        <h2> "{{ status_code }} "</h2>

        <div>
            "La page désirée n'existe pas {{ status_text }}"
        </div>
    </body>
</html>
